<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScanUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.SelectedIndex" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.User_Http" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.BasicInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.User_Operator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.LogFileName" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.UserData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.Socket" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.URL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ScanUploader.Properties.Settings>
      <setting name="workSite" serializeAs="String">
        <value>H</value>
      </setting>
    </ScanUploader.Properties.Settings>
    <ScanUploader.Properties.SelectedIndex>
      <setting name="order" serializeAs="String">
        <value>0</value>
      </setting>
    </ScanUploader.Properties.SelectedIndex>
    <ScanUploader.Properties.User_Http>
      <setting name="username_MES" serializeAs="String">
        <value>yfhp</value>
      </setting>
      <setting name="password_MES" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="site_MES" serializeAs="String">
        <value>2018</value>
      </setting>
    </ScanUploader.Properties.User_Http>
    <ScanUploader.Properties.BasicInfo>
      <setting name="site" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>2018</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="operation" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>A0314</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="productModelVersion" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1.0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="shift" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>夜班</string>
            <string>白班</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="createBy" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ly611937</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="order" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="resource" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>51005748</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="productModel" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>L3038LA</string>
          </ArrayOfString>
        </value>
      </setting>
    </ScanUploader.Properties.BasicInfo>
    <ScanUploader.Properties.User_Operator>
      <setting name="UserName" serializeAs="String">
        <value>ly611937</value>
      </setting>
    </ScanUploader.Properties.User_Operator>
    <ScanUploader.Properties.LogFileName>
      <setting name="prefix" serializeAs="String">
        <value>HP</value>
      </setting>
      <setting name="dateFormat" serializeAs="String">
        <value>yyyyMMdd</value>
      </setting>
      <setting name="serialFigureCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="nextSerialNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileFormat" serializeAs="String">
        <value>.txt</value>
      </setting>
    </ScanUploader.Properties.LogFileName>
    <ScanUploader.Properties.UserData>
      <setting name="userName_http_MES" serializeAs="String">
        <value>yfhp</value>
      </setting>
      <setting name="password_http_MES" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="site_http_MES" serializeAs="String">
        <value>2018</value>
      </setting>
      <setting name="userName_http_WMS" serializeAs="String">
        <value>device</value>
      </setting>
      <setting name="password_http_WMS" serializeAs="String">
        <value>123456</value>
      </setting>
    </ScanUploader.Properties.UserData>
    <ScanUploader.Properties.Socket>
      <setting name="port_up" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="port_main" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="port_down" serializeAs="String">
        <value>1300</value>
      </setting>
      <setting name="port_submit" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="IP_host" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="enable_socket_up" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_main" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_down" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_submit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="port_insert" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="enable_socket_insert" serializeAs="String">
        <value>True</value>
      </setting>
    </ScanUploader.Properties.Socket>
    <ScanUploader.Properties.URL>
      <setting name="httpLogin" serializeAs="String">
        <value>http://10.219.95.85/prod-api/auth/login</value>
      </setting>
      <setting name="scanContainerOut" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/chemicalScanSourceVehicle</value>
      </setting>
      <setting name="scanSn" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/chemicalScanSn</value>
      </setting>
      <setting name="scanContainerIn" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/chemicalScanTargetVehicle</value>
      </setting>
      <setting name="scanContainerUnbind" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/chemicalScanSourceVehicleUnBind</value>
      </setting>
      <setting name="submit" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/chemicalScanSubmit</value>
      </setting>
      <setting name="getMesMoList" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/machine/api/machineToMes/getMesMoListByProductModelAndOperation</value>
      </setting>
      <setting name="getProductModel" serializeAs="String">
        <value>http://10.219.95.85/prod-api/mes/product-model/getProductModelBySite</value>
      </setting>
    </ScanUploader.Properties.URL>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>