<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ChemicalScan.Properties.Socket" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ChemicalScan.Properties.LogSN" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ChemicalScan.Properties.URL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ChemicalScan.Properties.Socket>
      <setting name="port_up" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="port_main" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="port_down" serializeAs="String">
        <value>1300</value>
      </setting>
      <setting name="port_submit" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="IP_host" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="socket_up" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="socket_main" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="socket_down" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="socket_submit" serializeAs="String">
        <value>True</value>
      </setting>
    </ChemicalScan.Properties.Socket>
    <ChemicalScan.Properties.LogSN>
      <setting name="log_currSerialNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="log_nextSerialNumber" serializeAs="String">
        <value>0</value>
      </setting>
    </ChemicalScan.Properties.LogSN>
    <ChemicalScan.Properties.URL>
      <setting name="prefix" serializeAs="String">
        <value>http://10.219.95.85/prod-api/</value>
      </setting>
      <setting name="postfix_httpLogin" serializeAs="String">
        <value>http://10.219.196.41/stage-api/auth/login</value>
      </setting>
      <setting name="subPrefix_MES" serializeAs="String">
        <value>mes/machine/api/machineToMes/</value>
      </setting>
      <setting name="postfix_scanContainerOut" serializeAs="String">
        <value>chemicalScanSourceVehicle</value>
      </setting>
      <setting name="postfix_scanSn" serializeAs="String">
        <value>chemicalScanSn</value>
      </setting>
      <setting name="postfix_scanContainerIn" serializeAs="String">
        <value>chemicalScanTargetVehicle</value>
      </setting>
      <setting name="postfix_scanContainerUnbind" serializeAs="String">
        <value>chemicalScanSourceVehicleUnBind</value>
      </setting>
      <setting name="postfix_submit" serializeAs="String">
        <value>chemicalScanSubmit</value>
      </setting>
    </ChemicalScan.Properties.URL>
  </userSettings>
</configuration>