<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScanUploader.Properties.BasicInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.User_Operator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.LogFileName" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.UserData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.Socket" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanUploader.Properties.URL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ScanUploader.Properties.BasicInfo>
      <setting name="resource" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>51005748</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="productModel" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>L3038LA</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="site" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>2018</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="operation" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>A0314</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="productModelVersion" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>1.0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="shift" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>夜班</string>
            <string>白班</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="createBy" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>ly611937</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="order" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>000603873750</string>
          </ArrayOfString>
        </value>
      </setting>
    </ScanUploader.Properties.BasicInfo>
    <ScanUploader.Properties.User_Operator>
      <setting name="UserName" serializeAs="String">
        <value>ly611937</value>
      </setting>
    </ScanUploader.Properties.User_Operator>
    <ScanUploader.Properties.LogFileName>
      <setting name="prefix" serializeAs="String">
        <value>HP</value>
      </setting>
      <setting name="dateFormat" serializeAs="String">
        <value>yyyyMMdd</value>
      </setting>
      <setting name="serialFigureCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="nextSerialNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileFormat" serializeAs="String">
        <value>.txt</value>
      </setting>
    </ScanUploader.Properties.LogFileName>
    <ScanUploader.Properties.UserData>
      <setting name="userName_http_MES" serializeAs="String">
        <value>yfhp</value>
      </setting>
      <setting name="password_http_MES" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="site_http_MES" serializeAs="String">
        <value>2018</value>
      </setting>
      <setting name="userName_http_WMS" serializeAs="String">
        <value>device</value>
      </setting>
      <setting name="password_http_WMS" serializeAs="String">
        <value>123456</value>
      </setting>
    </ScanUploader.Properties.UserData>
    <ScanUploader.Properties.Settings>
      <setting name="is_chemicalScan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="is_kibbleScan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="is_BDS" serializeAs="String">
        <value>False</value>
      </setting>
    </ScanUploader.Properties.Settings>
    <ScanUploader.Properties.Socket>
      <setting name="port_up" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="port_main" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="port_down" serializeAs="String">
        <value>1300</value>
      </setting>
      <setting name="port_submit" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="IP_host" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="enable_socket_up" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_main" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_down" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_socket_submit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="port_insert" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="enable_socket_insert" serializeAs="String">
        <value>True</value>
      </setting>
    </ScanUploader.Properties.Socket>
    <ScanUploader.Properties.URL>
      <setting name="prefix" serializeAs="String">
        <value>http://10.219.95.85/prod-api/</value>
      </setting>
      <setting name="httpLogin_MES" serializeAs="String">
        <value>http://10.219.95.85/prod-api/auth/login</value>
      </setting>
      <setting name="subPrefix_MES" serializeAs="String">
        <value>mes/machine/api/machineToMes/</value>
      </setting>
      <setting name="postfix_scanContainerOut" serializeAs="String">
        <value>chemicalScanSourceVehicle</value>
      </setting>
      <setting name="postfix_scanSn" serializeAs="String">
        <value>chemicalScanSn</value>
      </setting>
      <setting name="postfix_scanContainerIn" serializeAs="String">
        <value>chemicalScanTargetVehicle</value>
      </setting>
      <setting name="postfix_scanContainerUnbind" serializeAs="String">
        <value>chemicalScanSourceVehicleUnBind</value>
      </setting>
      <setting name="postfix_submit" serializeAs="String">
        <value>chemicalScanSubmit</value>
      </setting>
      <setting name="httpLogin_WMS" serializeAs="String">
        <value>http://10.210.192.31/stage-api/auth/login</value>
      </setting>
      <setting name="stockQuery_WMS" serializeAs="String">
        <value>http://10.210.192.31/stage-api/process/mes/stock/query</value>
      </setting>
      <setting name="validate_WMS" serializeAs="String">
        <value>http://10.210.192.31/stage-api/process/mesUpperMaterialRecord/public/mes/validate</value>
      </setting>
    </ScanUploader.Properties.URL>
  </userSettings>
</configuration>